bacpipe @ git+https://github.com/bioacoustic-ai/bacpipe.git@52cbf3cd31d077d5ca6d05b735b7a608552e1c0b
fastapi>=0.110,<1
librosa==0.10.1
numpy==1.25.0
pyinstaller>=6,<7
scipy==1.11.3
simpleaudio==1.0.4
soundfile==0.12.1
torch==2.0.1
uvicorn>=0.29,<1
